<div class="main-content">
  <div class="container-fluid">
    <div class="col-xl-7 mx-auto mt-5">

      <div class="card col-xl-8 mx-auto mb-4">
        <h1 class="text-center my-5">Dashboard</h1>

        <div class="d-flex ml-2">

          <div class="card-icon col-xl-2 mr-5" style="height: 150px;">
            <div class="row mt-4 mb-1 mx-auto">
              <i class="fa fa-briefcase fa-2x my-1" aria-hidden="true"></i>
              <!-- <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> -->
            </div>
            <h3 class="text-right">Post New Job</h3>
          </div>

          <div class="card-icon col-xl-2" style="height: 150px;">
            <div class="row mt-4 mb-1 mx-auto">
              <span style="font-size: 2rem; color: #ff0000;">25</span>
            </div>
            <h3 class="text-right">Jobs Posted</h3>
          </div>

          <div class="card-recent col-xl-5 mb-5" style="height: 675px; margin-left: 10rem;">
            <h3 class="text-center my-3">Recent Posts</h3>

            <div class="card col-xl-12 mx-auto mb-4" *ngFor="let jobPost of posts">
              <div class="row job-card">
                <div class="col-xl-12 mx-auto py-4">

                  <ul class="my-auto">

                    <li>
                      <h6>{{jobPost.jobtitle}}</h6>
                    </li>

                    <li class="pb-3" style="color: #969696">
                      <div class="row">
                        <div class="col-xl-12">
                          <i class="fa fa-map-marker fa-08 mr-2" aria-hidden="true"></i>
                          <span class="mr-5">{{jobPost.location}}</span>
                        </div>
                      </div>
                    </li>

                    <div class="row">
                      <div class="col-xl-12">
                        <button class="btn btn-danger btn-sm float-right" routerLink="/1/jobs/1">Edit Post</button>
                      </div>
                    </div>

                  </ul>
                </div>
              </div>
            </div>

            <div class="row mt-5">
              <button class="col-xl-11 btn btn-primary mx-auto" routerLink="/1/jobs">View All</button>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
