.btn-red {
  color: white !important;
  background-color: #ff0000;
  border-radius: 10px;
  transition: background-color 0.3s;
  width: 100%;
}

.btn-red:hover {
  color: white;
  background-color: #001935;
}

.header {
  color: #001935;
  font-weight: bold;
}

.card {
  border-radius: 1rem;
  border: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}
