.container-fluid {
  background: #fdf8f7;
  position: relative;
}

.container-fluid::before {
  position: absolute;
  content: '';
  background-image: url(../../../assets/job.png);
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: .02;
}

h2 {
  color: #001935;
  font-weight: bold;
}

.btn-red {
  color: white;
  background-color: #ff0000;
}

ul{
  margin:0;
  padding: 0;;
}

li {
  list-style: none;
}

/* a{
  color: black !important;
} */

.card-btn{
  border: 0;
  background: #f3f3f3;
  border-radius: 0 5px 5px 0;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07); */
}

.card-btn:hover{
  background: #eae6e6;
}

.card-desc{
  height: 110px;
  background: #fddcd4;
  border: 0;
  border-radius: 5px 0 0 5px;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07); */
}

.card-list{
    height: 1000px;
    overflow-y: scroll;
    border: 0;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}

.card-list-clicked{
  flex: 0 0 50%;
  max-width: 50%;
}
