.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:focus,
a.nav-link:hover {
  color: #ff0000 !important;
  background-color: rgba(0, 0, 0, 0.03);
  transition-duration: .5s;
}

.bg-dark-x {
  background-color: #020202 !important;
}


a.dropdown-item{
  color: rgba(255, 255, 255, 0.5);
}

.dropdown-item:hover{
  background-color: #313d56 !important;
  color: #ff0000;
}

.dropdown-divider {
  border-top: 1px solid #a50026;
}
