<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center py-5">
      <div class="col-5 mr-4">


        <div class="row py-3">

          <div class="col-2 my-auto">
            <div class="company-avatar mx-auto">
              <img src="../../../assets/logo1.jpg" class="company-logo pb-1" />
            </div>
          </div>

          <div class="col-8 py-4">
            <ul class="my-auto">
              <li>
                <h5>Web Designer, Graphic Designer, UI/UX Designer</h5>
              </li>
              <li class="pb-3" style="color: #707070">
                <i class="fa fa-map-marker fa-08 mr-2" aria-hidden="true"></i>
                <span class="mr-3">Wellesley Rd, London</span>
                <i class="fa fa-filter mr-2" aria-hidden="true"></i>
                <span class="mr-3">Accountancy</span>
                <i class="fa fa-briefcase mr-2" aria-hidden="true"></i>
                <span class="mr-3">Freelance</span>
              </li>
              <li>
                <i class="fa fa-paper-plane-o mr-2 apply-before" aria-hidden="true"></i>
                <span class="apply-before font-weight-bold">Apply Before: July 03, 2020</span>
              </li>
            </ul>
          </div>

        </div>




        <h5>Description</h5>
        <section class="description mb-4">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make
          a
          type specimen book. It has survived not only five centuries,but also the leap into essentially unchanged.
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some
          form, by injected humour, or randomised words which don't look even slightly believable.
        </section>

        <h5>Requirements</h5>
        <section class="requirements mb-4">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book.

          <section class="skill-list mt-3">
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Work experience
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Skills (soft skills and/or technical skills)
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              WPersonal qualities and attributes.
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Support software roll-outs to production.
            </li>
            <li>
              <i class="fa fa-check" aria-hidden="true"></i>
              Guide and mentor junior engineers. Serve as team lead if appropriate.
            </li>
          </section>

        </section>
        <h5>Job Details</h5>
        <table class="table table-borderless col-5">
          <tbody>
            <tr>
              <td><span class="header">Company</span></td>
              <td>Tourt Design LTD</td>
            </tr>
            <tr>
              <td><span class="header">Location</span></td>
              <td>Wellesley Rd, London</td>
            </tr>
            <tr>
              <td><span class="header">Job Type</span></td>
              <td>Full Time</td>
            </tr>
            <tr>
              <td><span class="header">Email</span></td>
              <td><a href="mailto:hello@company.com">hello@company.com</a></td>
            </tr>
          </tbody>
        </table>

        <div class="col-2 my-auto px-0">
          <a routerLink="/1/job-apply" class="btn btn-red">Apply Now</a>
        </div>

      </div>

      <div class="card keyword-card col-2 keyword-height">
        <h5 class="my-5">Keywords</h5>
        <ul class="text-left">
          <li class="li-keywords special-border px-2 py-1 mr-2">Web Design</li>
          <li class="li-keywords special-border px-2 py-1 mr-2">SEO</li>
          <li class="li-keywords special-border px-2 py-1 mr-2">Finance</li>
          <li class="li-keywords special-border px-2 py-1 mr-2">Video</li>
          <li class="li-keywords special-border px-2 py-1 mr-2">Education</li>
          <li class="li-keywords special-border px-2 py-1 mr-2">Content Writter</li>
        </ul>
      </div>

    </div>
  </div>
</div>
