<div class="row mx-2 my-5">
  <div class="col-xl-6">
    <h2>Felica Kareon</h2>
    <h6>(416) 828.9999</h6>
    <h6>kareon.f@gmail.com</h6>
  </div>

  <div class="col-xl-6 my-auto">

    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons" style="height: 40px;">
      <label class="btn btn-primary">
        <input type="radio" name="options" id="option1"> Interview
      </label>
      <label class="btn btn-primary active">
        <input type="radio" name="options" id="option2" checked> ?
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="options" id="option3"> Disqualify
      </label>
    </div>
  </div>
</div>

<div class="row mx-2 mb-3">
  <div class="col-xl-6">
    <h3>Desired Job Title</h3>
    <h6>Front-end Developer</h6>
  </div>

  <div class="col-xl-6">
    <h3 class="float-right">Desired Salary</h3>
    <h6 class="float-right">CAD 70,000 / Year</h6>
  </div>

</div>

<div class="row mx-2 mb-3">

  <div class="col-xl-12">
    <h3>Skills</h3>

    <ul>
      <li class="li-keywords special-border px-2 py-1 mr-2">.Net</li>
      <li class="li-keywords special-border px-2 py-1 mr-2">SEO</li>
      <li class="li-keywords special-border px-2 py-1 mr-2">MongoDB</li>
      <li class="li-keywords special-border px-2 py-1 mr-2">Angular</li>
      <li class="li-keywords special-border px-2 py-1 mr-2">NodeJS</li>
      <li class="li-keywords special-border px-2 py-1 mr-2">TypeScript</li>
    </ul>
  </div>

</div>

<div class="row mx-2 mb-3">

  <div class="col-xl-11">
    <h3>Education</h3>
    <h6>Bachelors</h6>
    <ul>
      <li>Computer Science</li>
      <li>Princeton University, USA</li>
      <li>2012 - 2016</li>
    </ul>
  </div>

  <div class="col-xl-11">
    <h6>Certificate</h6>
    <ul>
      <li>Computer Software & Database Development</li>
      <li>Lambton College, CA</li>
      <li>2018 - 2020</li>
    </ul>
  </div>

</div>

<div class="row mx-2 mb-3">
  <div class="col-xl-11">
    <h3>Job Experience</h3>
    <h6>Full-stack Developer</h6>
    <ul>
      <li>
        <h6>IBM</h6>
      </li>
      <ul>
        <li>Ability to create sites from scratch using provided designs and concept art</li>
        <li>Fluent ability to program in modern JavaScript (ES6 spec and beyond)</li>
        <li>Working knowledge of at least one modern CSS super-set (SASS, SCSS, Less, styled components, etc)</li>
      </ul>
      <li>Jun/2019 - Current</li>
    </ul>
  </div>

  <div class="col-xl-11">
    <h6>Front-end Developer</h6>
    <ul>
      <li>
        <h6>Incredible Invisible Corp.</h6>
      </li>
      <ul>
        <li>Ability to create sites from scratch using provided designs and concept art</li>
        <li>Fluent ability to program in modern JavaScript (ES6 spec and beyond)</li>
        <li>Working knowledge of at least one modern CSS super-set (SASS, SCSS, Less, styled components, etc)</li>
      </ul>
      <li>Aug/2017 - Apr/2019</li>
    </ul>
  </div>

</div>
