.container-fluid::before {
  position: absolute;
  content: '';
  background-image: url(../../../assets/job.png);
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: .02;
}
